<div class="h-80 d-flex flex-column justify-content-center align-items-center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Operator KTV 1001</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="login()" action="#">
        <mat-form-field class="w-100">
          <input matInput placeholder="Username" [(ngModel)]="form.username"  [ngModelOptions]="{standalone: true}" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput type="password" placeholder="Password" [(ngModel)]="form.password"  [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-stroked-button type="submit" color="primary" class="btn-block">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
</div>
