<div class="d-flex flex-row vh-100 container-operator">
  <!-- SECTION 1 -->
  <div class="d-flex flex-column w-20">
    <!-- STATUS ROOM -->
    <div class="h-75">
      <div class="h-100 d-flex flex-column">
        <div class="h-100 m-1 overflow-auto bg-light">
          <table mat-table [dataSource]="source.rooms" class="w-100 room">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Room </th>
              <td mat-cell *matCellDef="let element; let row;" (click)="roomSelect(row)"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element; let row;" (click)="roomSelect(row)"> <span class="badge badge-pill badge-{{element.status.color}}">{{element.status.name}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="guest_name">
              <th mat-header-cell *matHeaderCellDef> Guest </th>
              <td mat-cell *matCellDef="let element; let row;" (click)="roomSelect(row)"> {{element.guest_name}} </td>
            </ng-container>

            <ng-container matColumnDef="ip_address">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary"  [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button> 
                <mat-menu #appMenu="matMenu">
                  <button mat-menu-item>{{element.ip_address}}</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="column.rooms; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: column.rooms; let i = index;" [ngClass]="data.room.selected[i] ? 'selected' : ''"></tr>
          </table>
        </div>
      </div>
    </div>
    <!-- END STATUS ROOM -->

    <!-- NOTIFY CALLING -->
    <div class="h-25">
      <div class="h-100 d-flex flex-column">
        <div class="h-100 m-1 overflow-auto bg-light">
          <table mat-table [dataSource]="source.calls" class="w-100">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Room </th>
              <td mat-cell *matCellDef="let element"> {{element.room.name}} </td>
            </ng-container>

            <ng-container matColumnDef="guest">
              <th mat-header-cell *matHeaderCellDef> Guest </th>
              <td mat-cell *matCellDef="let element"> {{element.room.guest_name}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef width="50"> </th>
              <td mat-cell *matCellDef="let element; let row">
                <button mat-icon-button color="primary" (click)="callSelect(row)">
                  <mat-icon>phone_callback</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="column.calls; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: column.calls;"></tr>
          </table>
          <div>
            <div id="fab-dismiss" 
                *ngIf="fabTogglerState==='active'" 
                (click)="onToggleFab()">
            </div>
            <div class="fab-container">
              <button mat-mini-fab class="fab-toggler" color="primary" (click)="onToggleFab()">
                <mat-icon>view_headline</mat-icon>
              </button>
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END NOTIFY CALLING -->
  </div>
  <!-- END SECTION 1 -->

  <!-- SECTION 2 -->
  <div class="d-flex flex-row w-80">
    <!-- SONG -->
    <div class="d-flex flex-column w-60">
      <!-- SONG SEARCHING -->
      <div class="m-1">
        <div class="d-flex flex-column bg-light">
          <div class="d-flex flex-row">
            <div class="align-self-center p-1 w-50">
              <mat-form-field class="w-100">
                <input matInput placeholder="Song" [(ngModel)]="form.search.song" (input)="formSearch()">
              </mat-form-field>
            </div>
            <div class="align-self-center p-1 w-50">
              <mat-form-field class="w-100">
                <input matInput placeholder="Artist" [(ngModel)]="form.search.artist" (input)="formSearch()">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="align-self-center p-1 w-50">
              <mat-form-field class="w-100">
                <mat-select placeholder="Language" [(ngModel)]="form.search.language" (selectionChange)="formSearch()">
                  <mat-option *ngFor="let option of select.languages" [value]="option.id">{{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="align-self-center p-1 w-50">
              <mat-checkbox [(ngModel)]="form.search.new" (input)="formSearch()">New Release</mat-checkbox>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="align-self-center p-1">
              <button mat-raised-button color="primary" (click)="formSearch()">Search</button>
            </div>
            <div class="align-self-center p-1">
              <button mat-raised-button color="primary" (click)="formSearchClear()">Clear</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END SONG SEARCHING -->

      <!-- SONG BANK -->
      <div class="m-1 flex-grow-1 overflow-auto">
        <div class="h-100 d-flex flex-column">
          <div class="bg-light overflow-auto flex-grow-1">
            <table mat-table [dataSource]="source.songs" class="w-100 song">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element; let row" (click)="songSelect(row)"> {{element.title}} </td>
              </ng-container>

              <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef> Artist </th>
                <td mat-cell *matCellDef="let element; let row" (click)="songSelect(row)"> {{element.artist_label}} </td>
              </ng-container>

              <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef> Genre </th>
                <td mat-cell *matCellDef="let element; let row" (click)="songSelect(row)"> {{element.genre.name}} </td>
              </ng-container>

              <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef> Language </th>
                <td mat-cell *matCellDef="let element; let row" (click)="songSelect(row)"> {{element.language.name}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Add </th>
                <td mat-cell *matCellDef="let element; let row">
                  <button mat-flat-button color="primary" (click)="addSongToPlaylist(row)">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="column.songs; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: column.songs;"></tr>
            </table>
          </div>
          <div class="bg-light">
            <mat-paginator [pageSizeOptions]="page.song.pageSizeOptions" [pageSize]="page.song.pageSize"
              [length]="page.song.length" showFirstLastButtons (page)="songPageEvent($event)"></mat-paginator>
          </div>
        </div>
      </div>
      <!-- END SONG BANK -->
    </div>
    <!-- END SONG -->

    <!-- PRIVIEW AND PLAYLIST -->
    <div class="d-flex flex-column w-40">
      <!-- PRIVIEW -->
      <div class="h-25">
        <div class="h-100 d-flex flex-column">
          <div class="h-100 m-1 overflow-auto bg-light">
            <!-- <mat-tab-group>
              <mat-tab label="Priview Video"> -->
                <div class="d-flex flex-column h-100">
                  <video #player class="h-100 w-100" [src]="data.song.url" controls disablePictureInPicture
                    controlsList="nodownload">
                    <source [src]="data.song.url" type="video/mp4">
                  </video>
                </div>
              <!-- </mat-tab>
              <mat-tab label="Customer Info">Customer info under development</mat-tab>
              <mat-tab label="Message">Message under development</mat-tab>
            </mat-tab-group> -->
          </div>
        </div>
      </div>
      <!-- END PRIVIEW -->

      <!-- ROOM PLAYLIST -->
      <div class="h-75">
        <div class="h-100 d-flex flex-column">
          <div class="h-100 m-1 overflow-auto bg-light">
            <!-- <mat-tab-group>
              <mat-tab label="Playlist {{ data.room.name }}"> -->
                <div class="d-flex flex-column h-100">
                  <div class="overflow-auto flex-grow-1 vh-100">
                    <table mat-table [dataSource]="source.playlists" class="w-100" #table cdkDropList
                      [cdkDropListData]="source.playlists" (cdkDropListDropped)="playlistDrop($event)">
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element; let row" (click)="songPlaylistSelect(row)"> {{element.song.title}} </td>
                      </ng-container>

                      <ng-container matColumnDef="artist">
                        <th mat-header-cell *matHeaderCellDef> Artist </th>
                        <td mat-cell *matCellDef="let element; let row" (click)="songPlaylistSelect(row)"> {{element.song.artist_label}} </td>
                      </ng-container>

                      <ng-container matColumnDef="is_play">
                        <th mat-header-cell *matHeaderCellDef width="50"></th>
                        <td mat-cell *matCellDef="let element; let row" (click)="songPlaylistSelect(row)">
                          <div *ngIf="element.now_playing">
                            <mat-icon *ngIf="data.player.playing === 'playing'; else pause">play_arrow</mat-icon>
                            <ng-template #pause>
                                <mat-icon>pause</mat-icon>
                            </ng-template>
                          </div>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef width="50"> 
                          <button mat-icon-button (click)="deleteAllSongFromPlaylist()">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                          <button mat-icon-button color="warn" (click)="deleteSongFromPlaylist(element)">
                            <mat-icon>delete_forever</mat-icon>
                          </button>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="column.playlists; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: column.playlists; let i = index;" cdkDrag
                        [cdkDragData]="[i]" [ngClass]="row.now_playing ? 'selected' : ''"></tr>
                    </table>
                  </div>
                  <div class="d-flex flex-row justify-content-between w-100 bg-white">
                    <div class="p-1">
                      <button class="m-1" mat-raised-button color="primary" (click)="playToggle()">
                        <div *ngIf="data.player.playing === 'playing'; then thenPlay; else elsePlay">pause</div>
                        <ng-template #thenPlay>
                            <mat-icon>pause</mat-icon>
                        </ng-template>
                        <ng-template #elsePlay>
                            <mat-icon>play_arrow</mat-icon>
                        </ng-template>
                      </button>
                      <button class="m-1" mat-raised-button color="primary" (click)="vocalToggle()">
                          <div *ngIf="data.player.vocal === true; then thenVocal; else elseVocal"></div>
                          <ng-template #thenVocal>
                              <mat-icon>mic_off</mat-icon>
                              Vocal : Off
                          </ng-template>
                          <ng-template #elseVocal>
                              <mat-icon>mic</mat-icon>
                              Vocal : On
                          </ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              <!-- </mat-tab>
            </mat-tab-group> -->
          </div>
        </div>
      </div>
      <!-- END ROOM PLAYLIST -->
    </div>
    <!-- END PRIVIEW AND PLAYLIST -->
  </div>
  <!-- END SECTION 2 -->
</div>
