.container-operator {
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.data-table {
    height: 100%;
    overflow: auto;
}