<div class="d-flex flex-row vh-100 container-operator">
  <!-- SECTION 1 -->
  <div class="d-flex flex-column w-20">
    <!-- STATUS ROOM -->
    <div class="h-75">
      <app-operator-room
        [data]="data"
        [source]="source"
        [column]="column"
        [roomSelect]="roomSelect.bind(this)"></app-operator-room>
    </div>
    <!-- END STATUS ROOM -->

    <!-- NOTIFY CALLING -->
    <div class="h-25">
      <app-operator-room-call
        [data]="data"
        [source]="source"
        [column]="column"
        [callRespond]="callRespond.bind(this)"
        [callToggleFab]="callToggleFab.bind(this)"></app-operator-room-call>
    </div>
    <!-- END NOTIFY CALLING -->
  </div>
  <!-- END SECTION 1 -->

  <!-- SECTION 2 -->
  <div class="d-flex flex-row w-80">
    <!-- SONG AND PLAYLIST -->
    <div class="d-flex flex-column w-60">
      <div class="h-100 m-1 overflow-auto bg-light">
        <mat-tab-group [backgroundColor]="'primary'" [color]="'warn'" (selectedTabChange)="$event.index === 1 ? formSearch(false) : ''">
          <mat-tab label="Song">
            <app-operator-song
              [data]="data"
              [select]="select"
              [source]="source"
              [column]="column"
              [page]="page"
              [form]="form"
              [formSearch]="formSearch.bind(this)"
              [formSearchClear]="formSearchClear.bind(this)"
              [songSelect]="songSelect.bind(this)"
              [roomPlaylistAddSong]="roomPlaylistAddSong.bind(this)"
              [songPageEvent]="songPageEvent.bind(this)"
              [songPaginator]="songPaginator"
              (ngOnSongPaginator)="ngOnSongPaginator($event)"></app-operator-song>
          </mat-tab>
          <mat-tab label="Playlist">
            <app-operator-playlist
              [data]="data"
              [select]="select"
              [source]="source"
              [column]="column"
              [form]="form"
              [formSearch]="formSearch.bind(this)"
              [formSearchClear]="formSearchClear.bind(this)"
              [songSelect]="songSelect.bind(this)"
              [roomPlaylistAddSong]="roomPlaylistAddSong.bind(this)"
              [roomPlaylistAddAllSong]="roomPlaylistAddAllSong.bind(this)"></app-operator-playlist>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <!-- END SONG AND PLAYLIST -->

    <!-- PRIVIEW AND PLAYLIST -->
    <div class="d-flex flex-column w-40">
      <!-- PRIVIEW -->
      <div class="h-25">
        <app-operator-preview-video [data]="data"></app-operator-preview-video>
      </div>
      <!-- END PRIVIEW -->

      <!-- ROOM PLAYLIST -->
      <div class="h-75">
        <app-operator-room-playlist
          [data]="data"
          [source]="source"
          [column]="column"
          [roomPlaylistDrop]="roomPlaylistDrop.bind(this)"
          [roomPlaylistSelectSong]="roomPlaylistSelectSong.bind(this)"
          [roomPlaylistDeleteAllSong]="roomPlaylistDeleteAllSong.bind(this)"
          [roomPlaylistDeleteSong]="roomPlaylistDeleteSong.bind(this)"
          [roomPlaylistTogglePlay]="roomPlaylistTogglePlay.bind(this)"
          [roomPlaylistToggleVocal]="roomPlaylistToggleVocal.bind(this)"
          [table]="table"
          (ngOnTable)="ngOnTable($event)"></app-operator-room-playlist>
      </div>
      <!-- END ROOM PLAYLIST -->
    </div>
    <!-- END PRIVIEW AND PLAYLIST -->
  </div>
  <!-- END SECTION 2 -->
</div>
