<div class="vh-100 d-flex flex-row container-operator">
  <!-- SECTION 1 -->
  <div class="w-20 d-flex flex-column">
    <!-- STATUS ROOM -->
    <div class="h-75 m-2 bg-light">
      <div class="w-100 data-table">
        <table mat-table [dataSource]="roomSource" class="w-100 mat-elevation-z8">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="roomColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: roomColumns;"></tr>
        </table>
      </div>
    </div>
    <!-- END STATUS ROOM -->

    <!-- NOTIFY CALLING -->
    <div class="h-25 m-2 bg-light">
      <h1>Room Calling</h1>
    </div>
    <!-- END NOTIFY CALLING -->
  </div>
  <!-- END SECTION 1 -->

  <!-- SECTION 2 -->
  <div class="w-40 d-flex flex-row">
    <!-- SONG -->
    <div class="m-2 vw-100 d-flex flex-column">
      <!-- SONG SEARCHING -->
      <div class="h-25 p-2 bg-light">
        <div class="d-flex flex-row">
          <mat-form-field>
            <mat-select placeholder="Language">
              <mat-option *ngFor="let option of options" [value]="option.name">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox class="pl-4 pt-3">New Release</mat-checkbox>
        </div>
        <div class="d-flex flex-column">
          <mat-form-field>
            <input matInput placeholder="Artist">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Song">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Search</button>
      </div>
      <!-- END SONG SEARCHING -->

      <!-- SONG BANK -->
      <div class="h-75 p-2 bg-light">
        <div class="h-100 d-flex flex-column justify-content-between">
          <div class="w-100 data-table">
            <table mat-table [dataSource]="songSource" matSort class="w-100 mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <!-- Artist Column -->
              <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
                <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
              </ng-container>

              <!-- Genre Column -->
              <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
              </ng-container>

              <!-- Language Column -->
              <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
                <td mat-cell *matCellDef="let element"> {{element.language}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="songColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: songColumns;" (click)="selection.toggle(row)"></tr>
            </table>
          </div>
          <div class="w-100">
            <mat-paginator [pageSizeOptions]="[20, 15, 10, 5]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
      <!-- END SONG BANK -->
    </div>
    <!-- END SONG -->

    <!-- BUTTON -->
    <div class="m-2 d-flex flex-column align-self-center">
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button></div>
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>last_page</mat-icon>
        </button></div>
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button></div>
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>first_page</mat-icon>
        </button></div>
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button></div>
      <div class="p-1"><button mat-raised-button color="primary">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button></div>
    </div>
    <!-- END BUTTON -->
  </div>
  <!-- END SECTION 2 -->

  <!-- SECTION 3 -->
  <div class="w-40 d-flex flex-column">
    <!-- PLAYER -->
    <div class="h-25 m-2 bg-light" #targetPlayer>
      <mat-tab-group>
        <mat-tab label="Priview Video">
          <div [ngStyle]="playerHeight">
            <video class="w-100 h-100" controls>
              <source src="http://localhost/videos/nirvana.mp4" type="video/mp4">
            </video>
          </div>
        </mat-tab>
        <mat-tab label="Customer Info">
          <div [ngStyle]="playerHeight">
            Customer Info
          </div>
        </mat-tab>
        <mat-tab label="Message">
          <div [ngStyle]="playerHeight">
            Message
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- END PLAYER -->

    <!-- ROOM PLAYLIST -->
    <div class="h-75 m-2 bg-light" #targetPlaylist>
      <mat-tab-group>
        <mat-tab label="Playlist NameRoom">
          <div [ngStyle]="playlistHeight">
            <div class="w-100 data-table">
              <table mat-table [dataSource]="playlistSource" class="w-100 mat-elevation-z8">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- No Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> No </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- Artist Column -->
                <ng-container matColumnDef="artist">
                  <th mat-header-cell *matHeaderCellDef> Artist </th>
                  <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="playlistColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: playlistColumns;" (click)="selection.toggle(row)"></tr>
              </table>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="History NameRoom">
          <div [ngStyle]="playlistHeight">
            History NameRoom
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- END ROOM PLAYLIST -->
  </div>
  <!-- END SECTION 3 -->
</div>
