video::-webkit-media-controls-volume-slider { display:none; }
video::-webkit-media-controls-mute-button { display:none; }
video::-webkit-full-screen { display:none; }
video::-webkit-media-controls-fullscreen-button { display: none; }

.container-operator { background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); }

.selected { background-color: lightgreen; }

.room .mat-row { cursor: pointer; }

.song .mat-row { cursor: pointer; }

.mat-raised-button {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.badge- {
    color: white;
}

.badge-occupied {
    background-color: #48b0f7;
    color: white;
}

.badge-danger {
    background-color: #f55753;
    color: white;
}

.badge-warning {
    background-color: #f8d053;
    color: white;
}

.badge-master {
    background-color: #626262;
    color: white;
}

.mat-tab-group {
    height: 100%;
}

.mat-header-row {
    height: 35px;
}

.mat-row {
    height: auto;
}

.mat-row:hover {
    background-color: darkgray;
}

.mat-cell {
    padding: 0px 5px 0px 5px;
    font-size: 12px;
}

.mat-flat-button {
    min-width: 0px;
    line-height: 0px;
    padding: 0 0 0 0;
}

.mat-mini-fab {
    width: 40px;
    height: 40px;
}

.mat-icon {
    width: 25px;
    height: 25px;
}

.cdk-drag {
    cursor: move;
}

.cdk-drag-preview {
	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-around;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview > td {
	border: none;
}

.cdk-drag-placeholder {
	background-color: darkgrey;
}

.cdk-drag-placeholder > td {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fab-container {
    position: fixed;
    bottom: 15px;
    left: 16%;
    z-index: 101;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fab-container > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;
}

.fab-container > div > button {
    margin-bottom: 5px;
}

.fab-toggler {
    float: right;
    z-index: 101;
}
  
tr.detail-row {
    height: 0px;
}

tr.element-row:not(.expanded-row):hover {
    background: #777;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}